*{
    margin: 0;
}

#gridwrapper{
    display:grid;
    height:200vh;
    width: 100vw; 
    grid-template-areas:
    'he he he he he he'
    'as1 a2 a2 a2 a2 as2'
    'as1 a2 a2 a2 a2 as2'
    'as1 a2 a2 a2 a2 as2'
    'as1 a2 a2 a2 a2 as2'
    'as1 a2 a2 a2 a2 as2'
    'as1 a2 a2 a2 a2 as2'
    'as1 a2 a2 a2 a2 as2'
    'as1 fo fo fo fo as2';
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr ;
   
}
body{
    background-image: url(../img/lykta2.png);  
    background-size: 20%;
    background-attachment: fixed;
}

#header2{
    grid-area:he;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color:whitesmoke;
    background-color:rgb(197,12,46);
    margin-bottom:2px;



}

.divhe2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logga{
    height: 150px;
    width: 150x;
    margin-left: 20px;
}


#menya2{
    grid-area:a2;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
  
}
.menya3{
background-color: whitesmoke;
    display: flex;
    flex-direction: column;
   
   
}

.menya4{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menya5{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;

     
}

.kycklingtext{
   margin-top:0px; 
}

.menya6{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    
    
      
}

#aside1{
    grid-area: as1;
  
}

#aside2{
    grid-area:as2;
    
}

.lampa1{
    height:200px;
    width: 200px;
}

.lampa2{
    height:200px;
    width: 200px;
}

.lampa3{
    height:200px;
    width: 200px;  
}

.lampa4{
    height:200px;
    width: 200px;
}
#footer2{
    grid-area: fo;
    background-color:rgb(197,12,46);
    
}

.rubrikmeny{
    text-align: center;
    font-size: 100px;
}

h2{
    color: black;
    background-color: rgb(176, 50, 50);
   
}

.bokabord{
    text-align: left;
    font-size: 40px;
    border: black solid 5px;
    border-radius: 10%;
}

.omoss{
    text-align: right;
    font-size: 40px;
    border: black solid 5px;
    border-radius: 10%;
    
    
}

a{
    text-decoration: none;

}

h3{
    text-align: center;
    font-size: 30px;
    width: 100%;
}


p{
    text-align: center;
    margin: 30px;
    font-size: 17px;
    /* max-width: 70%; */
    font-family: sans-serif;
    flex:1;
    
}