*{
    margin:0;
}

#gridwrapper{
    display:grid;
    height:200vh;
    width: 100vw;
    grid-template-columns: repeat(6 *1fr);
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'he he he he he he'
    'he he he he he he'
    'a1 a1 a1 a1 a1 a1'
    'a1 a1 a1 a1 a1 a1'
    'a1 a1 a1 a1 a1 a1'
    'a2 a2 a2 a2 a2 a2'
    'a2 a2 a2 a2 a2 a2'
    'a2 a2 a2 a2 a2 a2'
    'fo fo fo fo fo fo'
    'fo fo fo fo fo fo';
    background-color: rgb(14, 12, 12,);
}

#header{
    grid-area: he;
    background-color:rgb(197,12,46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logga{
    height: 300px;
    width: 300px;
}



.innernav{
    background-color: rgb(34, 31, 31);
    text-align: center;
    
   
  
}

.boka{
    text-align: right;
  

}

.info{
    text-align: left;
    ;
}

#article1{
    grid-area: a1;
    background-color:rgb(187, 64, 64);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: url(../img/Dumplings.jpg);
}

.boka{
    margin-top:17px;
}

#article2{
    grid-area: a2;
    background-color: whitesmoke;
}

#footer{
    grid-area: fo;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(197,12,46);
  
    
  
}

h2{
    color:black;
    margin-top: 17%;
   flex-direction: column;
   border: solid black 5px;
   border-radius: 10px;
   font-size: 40px;
   background-color: rgb(176, 50, 50);


}

a{
    text-decoration: none;
    
}

.textfooter{
   
    font-size: 20px;
    flex:1;
    text-align: center;
    
}


